name: Build and Test
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java Environment
        uses: ./.github/actions/setup-java
      - name: Build and Test with Maven
        run: mvn --batch-mode --update-snapshots verify
